name: Docker

on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag name
        id: extract_tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        run: |
          make docker-build IMAGE_TAG=${{ steps.extract_tag.outputs.tag }}
          make docker-push IMAGE_TAG=${{ steps.extract_tag.outputs.tag }}

      - name: Build and push latest tag
        if: ${{ !contains(steps.extract_tag.outputs.tag, 'alpha') && !contains(steps.extract_tag.outputs.tag, 'beta') }}
        run: |
          make docker-build IMAGE_TAG=latest
          make docker-push IMAGE_TAG=latest
